<ul class="nav flex-column">
	<li class="nav-item">
		<a class="nav-link" href="{{ path('app_account')}}">Mes commandes</a>


	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{ path('app_account_addresses') }}">Mes adresses</a>


	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{ path('app_account_modify_pwd')}}">Modifier mon mot de passe</a>


	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{ path('app_logout') }}">Me déconnecter</a>

	</li>
</ul>
