{% extends 'base.html.twig' %}

{% block body %}
	<div class="container my-5">
		<h1>Mon profil</h1>
		<h5>Modification de mot de passe</h5>

		<div class="row">
			<div class="col-md-3">
				{% include 'account/_menu.html.twig'%}
			</div>
			<div class="col-md-9">
				{{ form(modifyPwd) }}
				</div>
			</div>


		</div>
	{% endblock %}
