{% if field.value == 1 %}
	<span class="badge text-bg-secondary">En attente de paiement</span>
{% elseif field.value == 2 %}
	<span class="badge text-bg-info">Payée</span>
{% elseif field.value == 3 %}
	<span class="badge text-bg-warning">En cours de préparation</span>
{% elseif field.value == 4 %}
	<span class="badge text-bg-success">Expédiée</span>
{% elseif field.value == 5 %}
	<span class="badge text-bg-danger">Annulée</span>
{% endif %}
